include README
include INSTALL
include ISSUES
include Makefile
include onsa
include client-test
include opennsa.tac
include opennsa-abc.tac
include opennsa-northernlight.tac
include opennsa-starlight.tac
recursive-include docs *
recursive-include patches *
