include README
include Makefile
include ISSUES
include AutoGOLE-Topo-2012-01-25.owl
include onsa
include client-test
include opennsa.tac
include opennsa-abc.tac
include opennsa-northernlight.tac
include opennsa-starlight.tac
recursive-include wsdl *
recursive-include docs *
recursive-include patches *
