backport-ipaddress==0.1
cffi==1.1.2
characteristic==14.3.0
cryptography==0.9.3
enum34==1.0.4
idna==2.0
ipaddress==1.0.14
psycopg2==2.6.1
pyasn==1.5.0b6
pyasn1==0.1.8
pyasn1-modules==0.0.7
pycparser==2.14
pycrypto==2.6.1
pyOpenSSL>=17.5.0
python-dateutil==1.5
service-identity==14.0.0
six==1.9.0
twistar=>2.0
Twisted=>19.7.0
wheel==0.24.0
zope.interface==4.1.2

